@font-face {
    font-family: 'Raleway';
    font-stretch: normal; 
    font-style: normal; 
    font-weight: 400 700;
    src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-stretch: normal;
    font-style: normal;
    font-weight: 300 700;
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

:root {
    --clr-primary-dark: #000000;
    --clr-secondary-light: #f0edeb;
    --clr-tertiary: #e9e5dee3;
    --clr-accent: #426e86;

    --gradient: linear-gradient(90deg, hsla(0, 0%, 0%, 1), 0%);

    --fnt-family-general: 'Raleway', Helvetica, sans-serif;
    --fnt-family-heading: 'Montserrat', sans-serif;

    font-size: 16px;
    font-family: var(--fnt-family-general);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--clr-primary-dark);
}


.grid-container {
    padding-top: 0;
    padding: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
        'main aside'
        'footer footer';

    background-image: url(./img/bg-container-img.webp);
    background-blend-mode: darken;
    background-attachment: fixed;
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'aside'
            'main'
            'footer';
    }
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    font-family: var(--fnt-family-heading);
}


header {
    position: sticky;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    background-color: var(--clr-primary-dark);
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
}

body {
    background-clip: content-box;
}

main {
    padding: 0;
    max-width: 900px;
    grid-area: main;
    background-color: var(--clr-secondary-light);
}


footer {
    grid-area: footer;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

header nav ul a {
    text-decoration: none;
    color: var(--clr-secondary-light);
}

.group {
    color: var(--clr-secondary-light);
    font-size: 1.7rem;
}

.table-of-contents {
    padding: 0.4rem;
    position: sticky;
    max-width: 600px;
    height: max-content;
    max-height: 800px;
    grid-area: aside;
    background-color: var(--clr-secondary-light);
    color: var(--clr-primary-dark);

    border-left: 1rem solid var(--clr-accent);
    padding-inline: 0.7rem;
    padding-block: 0.6rem;
    position: relative;
}

.table-of-contents p {
    margin: 0.3rem;
    font-size: 1.5rem;
}

.table-of-contents ul,
.table-of-contents li {
    list-style-type: square;
    list-style-position: inside;
    text-decoration: none;
    color: var(--clr-primary-dark);
    line-height: 2.7rem;
    font-size: 1.2rem;
}

.table-of-contents ul {
    padding: 0.2rem;
}

.table-of-contents::after {
    content: '';
    background-color: var(--clr-accent);
    position: absolute;
    top: 0;
    right: 2rem;
    height: 30%;
    max-height: 4rem;
    width: 2rem;
    opacity: 0.7;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 93%, 0% 100%);
}

.level-2 {
    padding-inline: 0.7rem;
}

.presentation { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative; 

    background-attachment: fixed;
    background-image: url(./img/bg-img.webp);
}

.presentation::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, var(--clr-primary-dark) 5%, transparent);
}

main {
    max-width: 900px;
    padding-block: 2.3rem;
    line-height: 1.8rem;
}

section {
    padding-block: 0.8rem;
    padding-inline: 2rem;
}

main p {
    margin-block: 1rem;
}

blockquote {
    padding: 1rem;
    font-style: italic;
    font-weight: 400;
    font-family: var(--fnt-family-heading);
    background-color: var(--clr-tertiary);
    margin: 1rem auto;
    position: relative;

    border-left: 0.25rem solid var(--clr-accent);
}

.title {
    margin-bottom: 1rem;
}

.title span {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

.title h1 {
    color: var(--clr-accent);
    line-height: 3rem;
    font-size: 3rem;
}

.title span, .title h1 {
    margin: 0;
}

blockquote::before {
    opacity: 0.4;
    content: open-quote;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    display: block;
}

blockquote::after {
    opacity: 0.4;
    opacity: 0.6;
    content: close-quote;
    margin-block: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    display: inline;
    font-family: Arial, Helvetica, sans-serif
}

code {
    background-color: var(--clr-tertiary);
    padding-inline: 0.30rem;
    margin: 0.10rem;
}

.section-accent {
    background-color: var(--clr-accent);
    color: var(--clr-secondary-light);
    font-weight: 550;
}

.section-accent code {
    color: var(--clr-accent);
}

picture figcaption {
    font-weight: 300;
    font-style: italic;
}

.author {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.author figcaption span {
    margin: 0.5rem;
    text-decoration: none;
}

.align-center {
    display: flex;
    align-items: center;
}

.profile-social {
    margin-inline: 0.2rem;
    width: 2rem;
    height: 2rem;
}

.author > img {
    flex-shrink: 0;
    flex-grow: 0;
    width: 5rem;
    height: 5rem;
}

.body-footer {
    padding-inline: 2rem;
    padding-block: 0.2rem;
    color: var(--clr-secondary-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body-footer ul {
    list-style: none;
}

.social-links img {
    max-width: 2.5rem;
}

